* {
  margin: 0;
}
:root {
  --Primary-color: #3d005a;
  --CTA-color: #674afc;
  --Text-color: #efefef;
  --navbar-color: #34014c;
  --shadow-color: #5e0089;
}

body {
  background-color: var(--Primary-color);
  color: var(--Text-color);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
h2 {
  margin: 8px 0;
}
button {
  font-size: 24px;
  font-weight: bold;
  border: none;
  background-color: var(--CTA-color);
  color: var(--Text-color);
  border-radius: 5px;
  min-width: 184px;
  min-height: 48px;
}

main {
  display: flex;
  gap: 80px;
}
footer {
  min-height: 100px;
  padding: 16px;
  padding-left: 85px;
  background-color: var(--navbar-color);
  z-index: 1;
}
#sideMenu {
  background-color: var(--navbar-color);
  width: 80px;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 16px;
  box-shadow: 4px -14px 20px var(--shadow-color);
  border-right: 1px var(--shadow-color) solid;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-right: 100px;
  min-width: 1180px;
  width: 100%;
}
#content:last-child{
    margin-bottom: 50px;
}
#heroSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 100px;
}
#mainImage {
  min-width: 590px;
  min-height: 550px;
  background-color: var(--Text-color);
}
#heroContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 590px;
  min-height: 550px;
  gap: 16px;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.smallText {
  font-size: 43px;
  margin-right: 200px;
}
.bigText {
  font-size: 86px;
  font-weight: bolder;
}

#programSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#programSection > div {
  border: black solid 1px;
}
#programSection > div > span {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
