* {
  margin: 0;
}
:root {
  --MainPurple-color: #3d005a;
  --Primary-color: #20002e;
  --CTA-color: #674afc;
  --Text-color: #efefef;
  --navbar-color: #1a0423;
  --shadow-color: #3d0a54;
}

body {
  background-color: var(--Primary-color);
  color: var(--Text-color);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
h2 {
  margin: 8px 0;
}
button {
  font-size: 24px;
  font-weight: bold;
  border: none;
  background-color: var(--CTA-color);
  color: var(--Text-color);
  border-radius: 5px;
  min-width: 184px;
  min-height: 48px;
}

main {
  display: flex;
  gap: 80px;
}
#sideMenu {
  background-color: var(--navbar-color);
  width: 80px;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 16px;
  box-shadow: 4px -14px 20px var(--shadow-color);
  border-right: 1px var(--shadow-color) solid;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-right: 100px;
  min-width: 1180px;
  width: 100%;
}
#content:last-child {
  margin-bottom: 50px;
}
