

#programSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#programSection > div {
  border: black solid 1px;
}
#programSection > div > span {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
